/* Estilos para el header */

/* Ajustar el tamaño de las palabras del menú de navegación */
.nav-link {
    color: #bfbfbf;
    font-size: 1.1rem;
    &:hover {
        color: #ce9907 !important;
    }
}

.logo {
    max-height: 60px; /* Ajusta el tamaño del logo */
}